.carousel-img {
    margin: auto;
    max-height: 450px;
    width: 75%;
    transition: background-image 0.3s ease-in-out;
}

.carousel-image {
    margin-top: 5px;
    background-color: #f1f3f6;
}

.center-align {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}